---
---

@import "jekyll-theme-tactile";

// Override: remove red color for h3
h3 {
  color: inherit !important;
}

figure {
  text-align: center;
  margin: 1.5em 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure figcaption {
  font-size: 0.9em;
  color: #555;
  margin-top: 0.4em;
}
